.paragraph--section__one--title {
  color: aliceblue;
}

.imageElement--imagen-visa {
  padding-block-start: 4px;
  height: 45px;
  padding-left: 264px;
}

/* search - bar  */
.searchBarInnerContainer--search-bar-desktop {
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border-radius: 0;
  border-color: transparent;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  height: 47px;
}

.searchBarContainer :global(.vtex-styleguide-9-x-hideDecorators) {
  display: block;
    float: left;
    width: 100%;
    background: #fff;
    font-size: 15px;
    line-height: 20px;
    padding: 8px 50px 8px 15px;
    color: #606060;
    box-sizing: border-box;

}

.searchBarContainer :global(.vtex-input__suffix) {
  border-radius: 0;
  border-color: transparent;
  background: #4572ed;
  padding-right: 0.75rem;
  padding-left: 0.75rem;

}

.searchBarIcon--search-bar-desktop--search{
  color: white;
}


.searchBarInnerContainer--search-footer {
  padding-left: 25px;
}


.searchBarInnerContainer--search-footer :global(.vtex-input-prefix__group){
  border: 2px solid #3c3c42;
    border-radius: 0;
    padding: 6px;
    max-height: 44px;
    width: 243px;
}

.searchBarInnerContainer--search-footer :global(.vtex-styleguide-9-x-input){
  background-color: #1F2024;
  color: white;
}

.searchBarInnerContainer--search-footer :global(.vtex-input__suffix){
  background-color: #5887F5;
  width: 70px;
  border-radius: 0;

}

.searchBarIcon--search-footer{
  padding: 0;
  color: white;
  padding-left: 18px
}


/* produc price */

.price_sellingPrice--product-price{
  padding-top: 12px;
  font-size: 30px;
}