.flexRow--flex-slider-visa{
  background-color: #2C303B;
  max-height: 45px
}


.flexCol--flex-image-visa{
  height: 90%;
}


/* header-despktop */
.flexRowContent--flex-header{
  background-color: black;
}


/* header-mobile */
.flexRowContent--header-mobile{
  background-color: black;
}


/* container product oferta */
.flexRow--product-ofertas-container{
    border-top: 1px solid #e3e4e6;
    margin: 45px 0 0;
    padding: 45px 0;
}

.flexRowContent--product-ofertas-container{
  display: flex;
  flex-direction: column-reverse;
}

/* container product camaras */
.flexRowContent--product-camaras-container{
  display: flex;
  flex-direction: column-reverse;
}

.flexRow--product-camaras-container{
  border-top: 1px solid #e3e4e6;
  margin: 45px 0 0;
  padding: 45px 0;
}







/* .flexCol--imagen-camara{
  padding-left: 65px;
}
.flexCol--imagen-barra-sonido{
  padding-right: 65px;
}
 */

 

 
