
/* title slider products */
.paragraph--titulo-productos-oferta{
  margin-top: -27px;
}

.paragraph--titulo-product-camaras-lentes{
  margin-top: -27px;
}
.paragraph--titulo-product-games-accesorios{
  margin-top: -27px;
}
.paragraph--titulo-products-interest{
  margin-top: -27px;
}



.paragraph--Texto-visa{
  margin-block-start: 10px;
  color: white;
}
.container--text-impersibles{
  transform: translateY(-50px);
}


/* text slider home 1 */
.container--content-info-text1{
  padding-left: 20%;
}

.headingLevel1--content-info-text1{
  margin: 0%;
  color: white;
}

.paragraph--content-info-text1{
  color: white;
  margin: 0;
}


/* text slider home 2 */


.container--content-info-text2{
  padding-left: 20%;
}

.headingLevel1--content-info-text2{
  margin: 0%;
}

.paragraph--content-info-text2{
  margin: 0;
}

/* text slider home 3 */
.container--content-info-text3{
  padding-left: 20%;
}

.headingLevel1--content-info-text3{
  margin: 0%;
}

.paragraph--content-info-text3{
  margin: 0;
}

/* link-slider-home top */
.link--content-info-text3{
  
  background-color: #f25529;
    color: #fff;
    cursor: pointer;
    height: 44px;
    padding: 0 20px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: max-content;
    transition: all .2s;
}

.link--content-info-text1{
  
  background-color: #f25529;
    color: #fff;
    cursor: pointer;
    height: 44px;
    padding: 0 20px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: max-content;
    transition: all .2s;
}
.link--content-info-text2{
  
  background-color: #f25529;
    color: #fff;
    cursor: pointer;
    height: 44px;
    padding: 0 20px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: max-content;
    transition: all .2s;
}



/* text impersibles del mes parlantes */

.heading--text-parlantes-inalambricos{
margin: 4px;
}

.paragraph--text-parlantes-inalambricos{
  margin: 7px;
}



/* text container favoritos store sony */
.paragraph--favoritos-sony-container{
  font-size: 18px;
  margin: 2px;
  color: #2f353d;
  line-height: 1!important;
  margin-bottom: 5px;
}
.paragraph--favoritos-sony-container::before{
  content: "";
  float: left;
  width: 4px;
  height: 4px;
  background: #f75229;
  margin: 8px 8px 8px 0;
  border-radius: 4px;
}

.link--favoritos-sony-container{
  color: #83838f;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    text-decoration: none;
}

.link--favoritos-sony-container:hover{
  color: rgb(10, 10, 10);
}

/* title registrate */

.wrapper--title-registrate{
  vertical-align: middle;
  font-size: 37px;
  color: #2f353d;
}

.paragraph--title-registrate{
  display: flex;
  align-items: center;
}

.image--title-registrate{
  margin-right: 19px;
}
/* item beneficios pre footer */

.image--item-benedicios{
  width: 65px;
  height: 65px;
}


.link--item-benedicios{
  color: #f75229;
  font-size: 18px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none; 
}

/* description-item-benedicios */
.container--description-item-benedicios{
margin-top: -4px;
}


.paragraph--description-item-benedicios{
  color: #83838f;
    font-size: 12px;
    margin: 0;
    text-align: center;
}

.image--img-item-benedicios{
  width: auto;
  height: 87px;
  margin-top: -31px;
}

/* necesitas-info */

.paragraph--necesitas-info{
  font-size: 35px;
 
}

.container--necesitas-info{
  height: 50px;
}
.container--necesitas-info2{
margin-top: -10px;
}
.paragraph--necesitas-info2{
  margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
 
}

.link--necesitas-info2{
text-decoration: none;
}