.paragraph--link-call-center {
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.link--link-call-center{
  color: white;
  text-decoration: none;
}

.paragraph--horario-contact {
  font-size: 9px;
  color: white;
  margin: 0px;
}

.container--logo-tel{
  float: left;
    margin-top: 26px;
    background: url(https://cosonyb2c.vtexassets.com/arquivos/icn.png) 0 0;
    background-position: -325px -450px;
    width: 25px;
    height: 25px;
}