/* icon menu category */

.styledLinkContent--catogory-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styledLinkContent--catogory-tv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styledLinkContent--catogory-camaras {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styledLinkContent--catogory-video-camaras {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styledLinkContent--catogory-audio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styledLinkContent--catogory-playstation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styledLinkContent--catogory-audio-auto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* submenu despliegue*/
.submenuWrapper--sub-menu--tv {
  position: fixed;
  width: -webkit-fill-available;
}
.submenuWrapper--sub-menu--camaras {
  position: fixed;
  width: -webkit-fill-available;
}
.submenuWrapper--sub-menu--video-camaras {
  position: fixed;
  width: -webkit-fill-available;
}
.submenuWrapper--sub-menu--audio {
  position: fixed;
  width: -webkit-fill-available;
}
.submenuWrapper--sub-menu--playstation {
  position: fixed;
  width: -webkit-fill-available;
}
.submenuWrapper--sub-menu--audio-para-auto {
  position: fixed;
  width: -webkit-fill-available;
}

/* submenu item */

.menuItem--submenu-item-televidores {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.menuItem--submenu-tem-teatro-en-casa {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.menuItem--submenu-item-reproductores-blue-ray {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/* submenu item camara */
.menuItem--submenu-item-camaras-con-lentes-inter {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.menuItem--submenu-item-syber-shot {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.menuItem--submenu-item-lentes {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.menuItem--submenu-item-accesorios {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.menuItem--submenu-item-camara-cine {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/* submenu item video-camara */
.menuItem--submenu-item-handycam {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.menuItem--submenu-item-accesorios-video-camara {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.menuItem--submenu-item-camaras-del-cine {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/* submenu item audio */
.menuItem--submenu-item-sistema-audio {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.menuItem--submenu-item-parlante-inalambricos {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.menuItem--submenu-item-audifonos {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.menuItem--submenu-item-reproductores-walkman {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/* submenu item playstation */
.menuItem--submenu-item-playstation-5 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.menuItem--submenu-item-consolas {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.menuItem--submenu-item-games {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.menuItem--submenu-item-accesorios-playstation {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/* submenu item video-camara */
.menuItem--submenu-item-reproductores-para-automovil {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.menuItem--submenu-item-bocinas-y-amplificadores {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/* menu-top */

.menuItem--menu-item-seguimiento-pedido {
  
}
.styledLinkContent--menu-item-menu {
  font-size: 11px;
  color: white;
}

.styledLinkContent--menu-item-seguimiento-pedido {
  font-size: 11px;
  color: white;
}

.styledLinkContent--item-sitio-web {
  font-size: 13px;
  color: white;
}

.styledLinkContainer--more-options{
  margin: 0;
}

.menuContainer--menu-superior{
display: flex;
align-items: baseline;
}


.menuItem--sitio-sony-menu{
  background-color: #2C303B;
  height: 40px;
}

.styledLinkContent--sitio-sony-menu{
  color: white;
  margin-top: -4px;
}
.menuItem--sitio-sony-menu:hover{
background-color: #4572ED;
}


/* submenu more options */
.styledLinkContent--submenu-item-ayuda{
  margin-right: 22px;
}
.styledLinkContent--submenu-item-login-sony{
  margin-right: -6px;
}
.styledLinkContent--submenu-item-micuenta:hover{
color: #4572ED;
}
.styledLinkContent--submenu-item-ayuda:hover{
color: #4572ED;
}
.styledLinkContent--submenu-item-login-sony:hover{
color: #4572ED;
}
.styledLinkContent--submenu-item-sitio-sony:hover{
color: #4572ED;
}