.paragraph--text-contact {
  font-size: 9px;
  color: white;
  margin: 0px;
}

.paragraph--numero-contact {
  font-size: 16px;
  color: white;
  margin: 0px;
  
}

.paragraph--horario-contact {
  font-size: 9px;
  color: white;
  margin: 0px;
}
