.flexCol--container-drawer-col {
  color: white;
}

.flexColChild--col-search {
}

.flexCol--minicart-desktop {
  margin-left: -20px;
}

.flexCol--menu-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* header */
.flexRowContent--header-container {
  background: #000;
  height: 80px;
  width: 100%;
}

/* logo */
.flexColChild--col-logo-sony {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexCol--col-menu-top {
  flex-direction: row;
  align-items: center;
  gap: 12px;
  justify-content: start;
}

.flexRowContent--container-logo-and-drawer {
  padding: 17px 5.5rem 0px 0px;
}

.flexCol--col-search {
  padding: 4px 0px 0px 13px;
}
