.openIconContainer--drawer--mobile{
  color: white;
  display: flex;
  align-items: center;
}

/* contenedor drawer */
.opened--drawer--mobile{
  top:47px
}
.closed--drawer--mobile{
  top:47px

}

.closeIconContainer--drawer--mobile{
  display: none;
}


.overlay--drawer--mobile{
opacity: 0 !important;
}