/* container slider product oferta */
.flexRowContent--product-ofertas-container-mobile {
  display: flex;
  flex-direction: column-reverse;
}

.flexRow--product-ofertas-container-mobile {
  border-top: 1px solid #e3e4e6;
  margin: 45px 0 0;
  padding: 45px 0;
}

/* container slider product camaras y lentes */
.flexRowContent--product-camaras-container-mobile {
  display: flex;
  flex-direction: column-reverse;
}

.flexRow--product-camaras-container-mobile {
  border-top: 1px solid #e3e4e6;
  margin: 45px 0 0;
  padding: 45px 0;
}

/* container slider product games */
.flexRowContent--product-games-container-mobile {
  display: flex;
  flex-direction: column-reverse;
}

.flexRow--product-games-container-mobile {
  border-top: 1px solid #e3e4e6;
  margin: 45px 0 0;
  padding: 45px 0;
}

/* container slider product interes */
.flexRowContent--products-interest-container-mobile {
  display: flex;
  flex-direction: column-reverse;
}

.flexRow--products-interest-container-mobile {
  border-top: 1px solid #e3e4e6;
  margin: 45px 0 0;
  padding: 45px 0;
}

/* container slider product mas vendido */
.flexRowContent--products-mas-vendido-mobile-container {
  display: flex;
  flex-direction: column-reverse;
}

.flexRow--products-mas-vendido-mobile-container {
  border-top: 1px solid #e3e4e6;
  margin: 45px 0 0;
  padding: 45px 0;
}

.flexRow--slider-vista1 {
  width: 100%;
  height: 405px;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://cosonyb2c.vtexassets.com/assets/vtex.file-manager-graphql/images/56d16dd5-381b-4eb5-bdee-e4e352f84932___f0fbca22e741a514b7f7f72d574527c8.jpg");
}

.flexRow--content-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 50%;
}
