/* texto slider */
.paragraph--title-camara-usa {
  font-size: 23px;
}
.paragraph--subtitle-audifonos {
  font-size: 13px;
}
.paragraph--subtitle-parlante {
  font-size: 13px;
}

.container--description-camara-usa {
  margin-top: -34px;
}

.container--title-audifonos {
  margin: -35px auto 0px;
}

/* slider product ofertas */

.paragraph--titulo-productos-oferta-mobile {
  margin-top: -27px;
}
/* slider product camaras y lentes */

.paragraph--titulo-product-camaras-lentes-mobile {
  margin-top: -27px;
}

/* slider product playstation games */
.paragraph--titulo-product-games-accesorios-mobile {
  margin-top: -27px;

}
/* slider product interest */
.paragraph--titulo-products-interest-mobile {
  margin-top: -27px;
}



/* tetx slider top home  */

.paragraph--desde-text{
  margin: 0;
  color: black;
}

.paragraph--content-info-text1-mobile{
  margin: 0;
  color: black;
  font-size: .9rem;
}

.headingLevel1--content-info-text1-mobile{
  margin: 0;
  font-size: 23px;
  color: black;
}


.link--link-ofertas-mobile{
  background-color: #f25529;
    color: #fff;
    height: 44px;
    padding: 0 20px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: max-content;
    transition: all .2s;
}

.paragraph--link-ofertas-mobile{
 margin: 0;
 padding-top: 5px; 
}


/* registrate e informacion */


@media screen and (max-width: 640px) {
  .paragraph--title-registrate{
    font-size: 19px
  }
}



