
.sliderLayoutContainer--slider2-mobile{
  height: 90%;
  width: 95%;
  margin: 0 auto 50px;
  padding-top: 20px;
  
}


.sliderLeftArrow--home_slider-mobile{
  display: none;
}

.sliderRightArrow--home_slider-mobile{
  display: none;
}

/* global */
@media screen and (max-width:767px){
  .sliderTrackContainer--slider-beneficios{
    min-width: 321px;
}
}